<router-outlet></router-outlet>

<ng-container>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quod saepe
  consequatur cumque modi, ut voluptas hic accusamus illo dolorem voluptatibus,
  odio repellat rerum quae aspernatur fuga nam sequi autem.
</ng-container>
<hr />
<ng-template [ngIf]="true">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nisi tempore
  eius omnis minus cumque nostrum eveniet ducimus sint qui. Consequatur
  aspernatur nesciunt atque sit exercitationem! Quisquam eum iste ad?
</ng-template>
